/* Prevent scrolling (important for a good drawing experience on mobile) */
html, body { margin: 0; height: 100%; overflow: hidden }

* { margin: 0; padding: 0; box-sizing: border-box; }
body { background-image: url("/assets/paper-texture.jpg"); }

.auto-width { width: auto !important; }

.hidden { display: none; }

.padding { padding: 50px 0 50px 0; }

.title-banner { background-color: rebeccapurple; border-radius: 0 0 10px 10px; color: white; font-size: 2rem; text-align: center; width: 100%; }
.alert-banner { margin: auto; position: fixed !important; top: 0; width: 100%; }

.image-display { max-width: available !important; }
#drawingCanvas { background-color: white; border: 2px solid black; }