* { margin: 0; padding: 0; box-sizing: border-box; }
body { background-image: url("/assets/paper-texture.jpg"); }

.auto-width { width: auto !important; }

.title-banner { background-color: rebeccapurple; border-radius: 0 0 10px 10px; color: white; font-size: 2rem; text-align: center; width: 100%; }